body {
  background-color: transparent;
}

html {
  background: url("../img/pig.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#crdtn-head {
  margin-top: 300px;
}

#crdtn-head h1 {
  line-height: 50px;
  font-size: 200px;
  font-family: 'Stalemate', cursive;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin: 0 0 5px 0;
  color: white;
}

#crdtn-head small {
  line-height: 50px;
  font-size: 20px;
  font-family: 'HelveticaNeueBold';
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin: 0 0 5px 0;
  color: white;
}

#crdtn-sec1 {
  background: #f5f5f5;
  text-align: center;
  padding: 30px 0 15px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 350px;
}

#crdtn-sec1 h2 {
  font-size: 28px;
  line-height: 28px;
  color: #231f20;
  margin: 0 auto 5px;
  position: relative;
  max-width: 500px;
  font-family: Helvetica;
}

#crdtn-sec1 h2 span {
  display: inline-block;
  padding: 0 17px;
  background: #f5f5f5;
  z-index: 2;
  position: relative;
}

#crdtn-sec1 i {
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background: #c2c2c2;
  z-index: 1;
}

#crdtn-sec1 p {
  font-size: 18px;
  line-height: 18px;
  color: #231f20;
  margin: 0 0 40px 0;
  margin-top: 30px;
  font-family: Helvetica;
}


#crdtn-sec2 {
  background: #fbfbfb;
  padding: 55px 0 25px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

#crdtn-sec2 h2 {
  font-size: 28px;
  line-height: 28px;
  color: #231f20;
  margin: 0 auto 5px;
  position: relative;
  max-width: 500px;
  font-family: Helvetica;
}

#crdtn-sec2 h2 span {
  display: inline-block;
  padding: 0 17px;
  background: #fbfbfb;
  z-index: 2;
  position: relative;
}

#crdtn-sec2 i {
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background: #c2c2c2;
  z-index: 1;
}

#crdtn-sec2 p {
  font-size: 18px;
  line-height: 18px;
  color: #231f20;
  margin: 0 0 40px 0;
  margin-top: 30px;
  font-family: Helvetica;
}

#crdtn-contest {
  background: #f5f5f5;
  padding: 55px 0 25px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

#crdtn-contest h2 {
  font-size: 28px;
  line-height: 28px;
  color: #231f20;
  margin: 0 auto 5px;
  position: relative;
  max-width: 500px;
  font-family: Helvetica;
}

#crdtn-contest h2 span {
  display: inline-block;
  padding: 0 17px;
  background: #f5f5f5;
  z-index: 2;
  position: relative;
}

#crdtn-contest i {
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background: #c2c2c2;
  z-index: 1;
}

.crdtn-Vintage {
  line-height: 50px;
  font-size: 100px;
  font-family: 'Stalemate', cursive;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin: 0 0 5px 0;
  color: #231f20;
}

.crdtn-vintage-pad {
  margin-top: 0px;
}

.crdtn-row-pad {
  margin-top: 30px;
}

.crdtn-row-pad-list {
  margin-top: 5px;
}

.crdtn-row-pad-list-header {
  margin-top: 55px;
}

#crdtn-result {
  background: #fbfbfb;
  padding: 55px 0 25px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

#crdtn-result h2 {
  font-size: 28px;
  line-height: 28px;
  color: #231f20;
  margin: 0 auto 5px;
  position: relative;
  max-width: 500px;
  font-family: Helvetica;
}

#crdtn-result h2 span {
  display: inline-block;
  padding: 0 17px;
  background: #fbfbfb;
  z-index: 2;
  position: relative;
}

#crdtn-result i {
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  background: #c2c2c2;
  z-index: 1;
}

.crdtn-border-left {
  border-left:3px;
  border-right:0px;
  border-top:0px;
  border-bottom:0px;
  border-style: solid;
}

/* CSS used here will be applied after bootstrap.css */


.competition-podium {
    height: 250px;
    position: relative;
    width: 350px;
    margin:50px;
  	display: inline-block;
    background:#f6f3ed;
}
.competition-podium .podium-block {
    width: 110px;
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.competition-podium .podium-block .place {
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}
.competition-podium .podium-block .sum {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
}

.competition-podium .podium-block.bronze {
    color: #e6d6bf;
    left: 10px;
}
.competition-podium .podium-block.bronze .podium {
    background: #e6d6bf;
    height: 0px;
}
.competition-podium .podium-block.bronze .name {
    color: #856e4e;
}

.competition-podium .podium-block.gold {
    color: #E87E04;
    left: 120px;
}
.competition-podium .podium-block.gold .podium {
    background: #ead679;
    height: 0px;
}
.competition-podium .podium-block.gold .name {
    color: #856e4e;
    text-align:center
}

.competition-podium .podium-block.silver {
    color: #cbd9de;
    left: 230px;
}
.competition-podium .podium-block.silver .podium {
    background: #cbd9de;
    height: 0px;
}
.competition-podium .podium-block.silver .name {
    color: #856e4e;
  text-align:center
}
.podium {
    display: table;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.podium > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #4D4D4D;
    font-size: 1.5em;
}
