<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cerdoton</title>

  <!-- Bootstrap -->
  {% load staticfiles %}
  <link href="{% static "cerdoton_app/bootstrap-3.3.2-dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
  <link href="{% static "cerdoton_app/css/cerdoton.css" %}" rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
</head>

<body>
  <header id="header">
    <div class="container">
      <div id="crdtn-head" class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Cerdot&oacute;n </h1>
          <h1 class="text-center"><small>Por un puerco m&aacute;s sano.</small></h1>
        </div>
      </div>
    </div>
  </header>

  <section id="crdtn-sec1">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>
              <i></i>
              <span>¿Qu&eacute; es?</span>
            </h2>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p>En una campaña contra el "bullying" por sobrepeso, &eacute;sta fue la mejor forma de la peor idea que tuvimos para combatirlo.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="crdtn-sec2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <i></i>
            <span>¿C&oacute;mo funciona?</span>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p>Las reglas <del><smal>son muy sencillas</small></del> no son muy sencillas:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-left">
          <ul class="list-group">
            <li class="list-group-item">Los criterios de medici&oacute;n son: <strong>Grasa, Peso y Masa Muscular</strong></li>
            <li class="list-group-item"></li>
            <li class="list-group-item">El <strong>ganador</strong> escoger&aacute; la pel&iacute;cula y recibir&aacute; una recompensa por su esfuerzo. (<a href="https://www.youtube.com/watch?v=QN_y1VZ25Sw" target="_blank"><span class="glyphicon glyphicon-usd"></span></a>) </li>
            <li class="list-group-item">El <strong>perdedor</strong> m&aacute;s perdedor, pagar&aacute; el <strong>50%</strong> del total consumido en el cine</li>
            <li class="list-group-item">El <strong>perdedor</strong> casi super perdedor, pagar&aacute; el <strong>30%</strong> del total consumido en el cine</li>
            <li class="list-group-item">El <strong>perdedor</strong> no tan perdedor pero a&uacute;n perdedor, pagar&aacute; el <strong>20%</strong> del total consumido en el cine</li>
            <li class="list-group-item">Los <strong>otros</strong> Aportar&aacute;n <strong>250</strong> pesos que se le entregar&aacute;n al ganador</li>
            <li class="list-group-item"></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"> Bajar grasa -> Top 3</span></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"> Subir masa muscular -> Top 3</span></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"> Bajar peso por perdida de grasa -> Top 3</span></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-up"> Mantener peso ideal</span></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"> No bajar grasa</span></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"> Bajar masa muscular</span></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"> Subir peso sin bajar grasa</span></li>
            <li class="list-group-item"><span class="glyphicon glyphicon-thumbs-down"> Subir peso sin subir masa muscular</span></li>
            <li class="list-group-item"></li>
            <li class="list-group-item">Se puede canjear una "paloma" para no hacer un set de ejercicios</li>
            <li class="list-group-item">Semana completa de set de ejerciocios equivale a <span class="glyphicon glyphicon-thumbs-up" /></li>
            <li class="list-group-item">Qui&eacute;n abandone la competencia antes de tiempo se convierte en el perdedor absoluto</li>
          </ul>
        </div>
        </div>
    </div>
  </section>

  <section id="crdtn-contest">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <i></i>
            <span><span class="crdtn-Vintage">Pork</span>ticipantes</span>
          </h2>
        </div>
      </div>
      <div class="row crdtn-vintage-pad">
        <div class="col-md-11 col-md-offset-1">
          <div class="row">
            {% if pigs_list %}
              {% for pig in pigs_list %}
                <div class="col-md-4">
                  <div class="row crdtn-row-pad">
                    <div class="col-md-4">
                      <img src="{% static "cerdoton_app/img/avatar.jpg" %}" class="img-rounded" alt"Cuiiii">
                    </div>
                    <div class="col-md-6 col-md-offset-1 text-left">
                      <div class="row">
                        <div class="col-md-12">
                          Soy <strong>{{ pig.name }}</strong>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          tengo <strong>{{ pig.age }}</strong> a&ntilde;os
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          mido <strong>{{ pig.height }}</strong> cm
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p>Not available.</p>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="crdtn-result">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <i></i>
            <span>El seguimiento</span>
          </h2>
        </div>
      </div>
      <div class="row crdtn-row-pad">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>

                  <th class="text-center">Porkticipante</th>
                  <th class="text-left">Peso</th>
                  <th class="text-left">Grasa</th>
                  <th class="text-left">Agua</th>
                  <th class="text-left">Masa Muscular</th>
                  <th class="text-left">Masa Osea</th>
                  <th class="text-left">Masa Corporal</th>
                  <th class="text-left">Kilocalorias</th>

                </tr>
              </thead>
              <tbody>

                {% if pigs_list %}
                  {% for pig in pigs_list %}
                    <tr>
                      <td class="text-left">{{ pig.name }}</td>
                      <td>
                        <div class="row">
                          <div class="col-md-5 text-right">{{ pig.weight }}</div>
                          <div class="col-md-4 text-right">
                            {% if pig.weight_diff >= 0 %}
                              <strong class="text-danger">+{{ pig.weight_diff }}</strong>
                            {% else %}
                              <strong class="text-success">{{ pig.weight_diff }}</strong>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-5 text-right">{{ pig.fat_percentage }}</div>
                          <div class="col-md-4 text-right">
                            {% if pig.fat_percentage_diff >= 0 %}
                              <strong class="text-danger">+{{ pig.fat_percentage_diff }}</strong>
                            {% else %}
                              <strong class="text-success">{{ pig.fat_percentage_diff }}</strong>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-5 text-right">{{ pig.total_body_water }}</div>
                          <div class="col-md-4 text-right">
                            {% if pig.total_body_water_diff >= 0 %}
                              <strong class="text-success">+{{ pig.total_body_water_diff }}</strong>
                            {% else %}
                              <strong class="text-danger">{{ pig.total_body_water_diff }}</strong>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-5 text-right">{{ pig.body_mass_index }}</div>
                          <div class="col-md-4 text-right">
                            {% if pig.body_mass_index_diff >= 0 %}
                              <strong class="text-success">+{{ pig.body_mass_index_diff }}</strong>
                            {% else %}
                              <strong class="text-danger">{{ pig.body_mass_index_diff }}</strong>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-5 text-right">{{ pig.bone_percentage }}</div>
                          <div class="col-md-4 text-right">
                            {% if pig.bone_percentage_diff >= 0 %}
                              <strong class="text-success">+{{ pig.bone_percentage_diff }}</strong>
                            {% else %}
                              <strong class="text-danger">{{ pig.bone_percentage_diff }}</strong>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-5 text-right">{{ pig.muscle_percentage }}</div>
                          <div class="col-md-4 text-right">
                            {% if pig.muscle_percentage_diff >= 0 %}
                              <strong class="text-danger">+{{ pig.muscle_percentage_diff }}</strong>
                            {% else %}
                              <strong class="text-success">{{ pig.muscle_percentage_diff }}</strong>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-5 text-right">{{ pig.kilocalories }}</div>
                          <div class="col-md-4 text-right">
                            {% if pig.kilocalories_diff >= 0 %}
                              <strong class="text-danger">+{{ pig.kilocalories_diff }}</strong>
                            {% else %}
                              <strong class="text-success">{{ pig.kilocalories_diff }}</strong>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <p>Not available.</p>
                {% endif %}

              </tbody>
            </table>
          </div
        </div>
      </div>
    </div>
  </section>
  <section id="crdtn-contest">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            <i></i>
            <span>Detalles</span>
          </h2>
        </div>
      </div>
      <div class="row crdtn-row-pad">
        <div class="col-md-12">

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#weight" aria-controls="home" role="tab" data-toggle="tab">Peso</a></li>
            <li role="presentation"><a href="#fat" aria-controls="profile" role="tab" data-toggle="tab">Grasa</a></li>
            <li role="presentation"><a href="#muscle" aria-controls="messages" role="tab" data-toggle="tab">M&uacute;sculo</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="weight">
              <canvas id="weightChart" width="900" height="400"></canvas>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="fat">
              <canvas id="fatChart" width="900" height="400"></canvas>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="muscle">
              <canvas id="muscleChart" width="900" height="400"></canvas>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "cerdoton_app/bootstrap-3.3.2-dist/js/bootstrap.min.js" %}" ></script>
  <script src="{% static "cerdoton_app/js/Chart.min.js" %}" ></script>
  <script src="{% static "cerdoton_app/js/cerdoton.js" %}" ></script>

</body>
</html>
